<a href="https://colab.research.google.com/github/Lucas544kk/Trabalhos/blob/main/Atividade_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1)

In [2]:
lista = [1,2,3,4,5]
soma = 0
mult = 1
for var in lista:
  soma += var
  mult *= var
print('A soma dos número é', soma,'a multiplicação é', mult,'e os números são',lista)

A soma dos número é 15 a multiplicação é 120 e os números são [1, 2, 3, 4, 5]

2)

In [24]:
lista = [['Lucas','Pedro','Paulo','Matheus'],[[1],[5],[3],[10]],[[4],[8],[6],[10]]]
for var in lista:
  print(var)

['Lucas', 'Pedro', 'Paulo', 'Matheus']
[[1], [5], [3], [10]]
[[4], [8], [6], [10]]